<p class="notification is-success"><%= notice %></p>

<section class="section">
  <div class="container">
    <%= render @tweet %>

    <div class="mt-4">
      <%= link_to "Edit this tweet", edit_tweet_path(@tweet), class: "button is-info" %> |
      <%= link_to "Back to tweets", tweets_path, class: "button is-light" %> |
      <%= button_to "Destroy this tweet", @tweet, method: :delete, class: "button is-danger" %>
    </div>
  </div>
</section>

